* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: georgia, palatino, "book antiqua", "palatino linotype", serif;
}
header {
    background:#fa9090;
    color: white;
}

h1 {
    padding: 1rem;
}

#title, #contact-title {
    display: flex;
    align-items: center;
    color: white;
}

#title svg, #contact-title svg {
    fill:white;
    height: 2rem;
}

#contact-title svg {
    margin-left: 1rem;
}

#trustpower-ribbon {
    width: 150px;
    position: absolute;
    right: 1rem;
    z-index: 1;
}

#trustpower-ribbon svg {
    fill:#fcd307;
    transform: rotate(180deg);
}

#trustpower-ribbon p {
    position: absolute;
    top:0;
    color: black;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-top: 1rem; 
}

#banner {
    position: relative;
    background-image: url(/img/baby-banner.webp);
    background-position: center center;
    max-height: 421px;
    height: 50vh;
    z-index: 0;
}

#banner .text {
    position: relative;
    height: 100%;
}

#banner .caption {
    position: absolute;
    bottom: 0;
    color: #4B5E6D;
    font-size: 2rem;
    padding: 1rem;
    margin-left: 1rem;
}

main, #banner .text, #title, #contact-title, #contact .grid {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

#banner .text {
    padding-top: 0;
}

section {
    margin: 1rem;
}

.call-to-action {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media only screen and (max-width:800px){

    .call-to-action {
        display: block;
    }
}

.description p {
    padding: 1rem;
}

.description p:nth-child(1), .description p:nth-child(6){
    font-style: italic;
    font-size: 1.25rem;
}

.request-support p {
    font-size: 1.75rem;
    font-weight: 400;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

.request-support a {
    display: inline-block;
    background: #fa9090;
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border:1px solid white;
    transition: all .5s;
}

.request-support a:hover {
    background: white;
    color: black;
    border:1px solid black;
    transition: all .5s;
}

#trustpower-award {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 10px solid #fcd307;
    padding: 1rem;
}

@media only screen and (max-width:800px){
    #trustpower-award {
        display: block;
    }
}

#trustpower-award img {
    display: block;
    width: 100%;
}

#trustpower-award .caption p, #trustpower-award .caption h2{
    padding: 1rem;
}

#donate {
    background: url(/img/basket.webp);
    background-position: center center;
    background-size: cover;
    max-height: 549px;
    max-width: 732px;
    margin: auto;
    height: 100vh;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


@media only screen and (max-width:800px){

    #donate {
        display: block;
    }

    #donate p {
        margin:1rem;
    }
}

#quote {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 550px;
    margin: auto;
}

#quote span {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

#quote p {
    text-align: right;
}

#bundles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color:#717070;
}

@media only screen and (max-width:800px){
    #bundles {
        display: block;
    }
}

#bundles img {
    display: block;
    width: 100%;
}

#bundles p, #bundles img {
padding: 1rem;
}

#staff {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media only screen and (max-width:800px){
    #staff {
        display: block;
    }
}

#staff div p {
    padding: 1rem;
    color: #717070;
}

#staff div img {
    padding: 1rem;
    display: block;
    margin: auto;
}

#staff div .caption {
    color:#858585;
    text-align: center;
    font-style: italic;
}

#staff div .caption span {
    color:rgb(77, 74, 74);
}

#contact {
    background:#fa9090;
    padding: 1rem;
    margin: 0;
    position: absolute;
    left: 0;
    width: calc(100vw - 0.75rem);
}

#contact-title {
    padding: 1rem 0;
}

#contact .grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:0;
}

@media only screen and (max-width:800px){
    #contact .grid {
        display: block;
    }
}

#contact iframe {
    display: block;
    padding: 1rem;
    width: 100%;
}

#contact p {
    color:white;
    padding: 1rem;
}

#contact a {
    color: white;
}

#contact .facebook {
    display: flex;
    align-items: center;
}